.billed_sektion,
.login_symbol,
button,
.tillykke,
.layout,
.musik_kilde {
    display: none;
}
h1 {
    font-size: 1rem;
}
.formular {
    display: flex;
    justify-content: left;
    align-content: left;
    flex-wrap: wrap;
}
#stamopl {
    padding-top: 20px;
    padding-bottom: 50px;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
}